<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../includes/header.ejs') %>
</head>
<body>
    <%- include('../../includes/nav.ejs') %>
    <div class="jumbotron text-center">
        <div class="container">
          <h1><%= title %></h1>
            <div class="container2">
                <header>
                    <h2><%= product.name %></h2>
                </header>
                <div class="containerBorder">
                    <img src="<%= product.imageUrl %>"
                        alt="<%= product.name %>"
                        style="width:490px;">
                </div>

                <br>
                
                <div>
                    <h3>Category: <%= product.category %></h3>
                    <p><%= product.description %></p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>